<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="margin-left: 40%;">

    <div class="main-content">
        <div class="grid grid__center w100 h100">
    <div class="grid ai-center jc-center gs32 md:fd-column">
        <div class="grid--cell sm:d-none">
            <img class="wmx100" src="https://cdn.sstatic.net/Sites/stackoverflow/img/404.svg" alt="Page not found">
        </div>
        <div class="grid--cell wmx5">
            <h1 class="fs-headline1 mb4">Page not found</h1>
            <div class="fs-subheading mb24">
                    <p>We're sorry, we couldn't find the page you requested.</p>
            </div>

            <div class="fs-body2" >

                    <p>Try <a href="https://www.google.com/">searching for google</a></p>

                <p>Browse our <a href="/questions">recent questions</a></p>
                <p>Browse our <a href="/tags">popular tags</a></p>

                    <p>If you feel something is missing that should be here, <a href="/contact">contact us</a>.</p>
            </div>
        </div>
    </div>
</div>
    
</body>

</html>