<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/staylee.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>homepage</title>
  </head>

  <body>
    <div>
      <div class="tablewhere">
        <table class="table table-dark" id="msg_q">
          <thead>
            <tr>
              <th>شناسه واریز</th>
              <th>شماره حساب</th>
              <th>نام حساب</th>
              <th>شماره کارت</th>
              <th>صاحب کارت</th>
              <th>نام بانک نام شعبه</th>
            </tr>
          </thead>
        </table>
      </div>
      <div style="margin-top: 140px; margin-left: 47%; width: 500px">
        <button id="deleteshow" type="button" class="btn b1 btn-danger">حذف</button>
        <button id="editshow" type="button" class="btn b1 btn-warning">
          ویرایش
        </button>
        <button id="newshow" type="button" class="btn b1 btn-success">جدید</button>
      </div>

      <div>
        <span
          class="sp1 border-dark"
          id="tblinsert"
          style="margin-top: 50px; border-radius: 8px"
        >
          <div style="margin-top: 20px">
            <div class="row" style="margin-left: 509px; margin-top: 40px">
              <select
                class="form-control form-control-lg"
                style="width: 200px"
                id="BranchName"
              >
                <option>ملت</option>
                <option>سامان</option>
              </select>
              <label>نام شعبه </label>
              <div
                class="col-xs-6 col-sm-6 col-md-9"
                style="margin-left: -10px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="OwnerName"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           نام صاحب حساب "
                  />
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-9"
                style="margin-left: -10px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="AccountNumber"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="            شماره حساب "
                  />
                </div>
              </div>
            </div>
            <div class="row1">
              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="BankId"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           نام شعبه افتتاح "
                  />
                </div>
              </div>

              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="CardNumber"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           شماره کارت"
                  />
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="AccountName"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="            نام حساب "
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="btn1" style="margin-top: 200px; margin-left: 340px">
            <button
              type="button"
              id="close"
              style="font-size: 20px"
              class="btn btn-warning"
            >
              انصراف
            </button>
            <button
              type="button"
              id="new"
              style="font-size: 20px"
              class="btn btn-danger"
            >
              ذخیره
            </button>
          </div>
        </span>

        <span
          class="sp1 border-dark"
          id="tbledit"
          style="margin-bottom: -100px; border-radius: 8px"
        >
          <div style="margin-top: 20px">
            <div class="row" style="margin-left: 509px; margin-top: 40px">
              <div
                class="col-xs-6 col-sm-6 col-md-9"
                style="margin-left: -10px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="CharityAccountId"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="            شناسه واریز "
                  />
                </div>
              </div>
              <select
                class="form-control form-control-lg"
                style="width: 200px; margin-top: 30px"
                id="BranchName1"
              >
                <option>ملت</option>
                <option>سامان</option>
              </select>
              <label style="margin-top: 20px">نام شعبه </label>
              <div
                class="col-xs-6 col-sm-6 col-md-9"
                style="margin-left: -10px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="OwnerName1"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           نام صاحب حساب "
                  />
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-9"
                style="margin-left: -10px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="AccountNumber1"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="            شماره حساب "
                  />
                </div>
              </div>
            </div>
            <div class="row1">
              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="BankId1"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           نام شعبه افتتاح "
                  />
                </div>
              </div>

              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="CardNumber1"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="           شماره کارت"
                  />
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-4"
                style="margin-left: 30px; margin-top: 40px"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="first_name"
                    id="AccountName1"
                    class="form-control input-sm"
                    style="font-size: 15px"
                    placeholder="            نام حساب "
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="btn1" style="margin-top: 50px; margin-left: 340px">
            <button
              type="button"
              id="close1"
              style="font-size: 20px"
              class="btn btn-warning"
            >
              انصراف
            </button>
            <button
              type="button"
              id="edit"
              style="font-size: 20px"
              class="btn btn-danger"
            >
              ذخیره
            </button>
          </div>
        </span>
        <span
          class="sp1 border-dark"
          id="tbldelete"
          style="margin-top: -500px;  border-radius: 8px"
        >
        <div class="form-group">
          <input
            type="text"
            name="first_name"
            id="CharityAccountId1"
            class="form-control input-sm"
            style="font-size: 15px"
            placeholder="            شناسه واریز "
          />
        </div>
          <div class="btn1" style="margin-top: 200px; margin-left: 340px">
            <button
              type="button"
              id="close2"
              style="font-size: 20px"
              class="btn btn-warning"
            >
              انصراف
            </button>
            <button
              type="button"
              id="delete"
              style="font-size: 20px"
              class="btn btn-danger"
            >
              ذخیره
            </button>
          </div>
        </span>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/basinfo3.js"></script>
  </body>
</html>
