<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Plan2.css" <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAN2</title>
</head>

<body>

    <div>
        <div class="show">
            <div class="eddit">

                <div class="but1">
                    <button type="button" class="b1 btn btn1 btn-danger">→</button>
                    <button type="button" class="b1 btn btn1 btn-warning">← </button>
                    <button type="button" class="b1 btn btn1 btn-success">«</button>
                    <button type="button" class="b1 btn btn1 btn-success">»</button>

                </div>
            </div>
        </div>
        <div class="tb1">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>

                    </tr>
                </thead>

        </div>
        <div class="tb1">
            <table class="table table-dark" style="margin-left: 250%; margin-top: -125%;">
                <thead>
                    <tr>
                        <th scope="col">#</th>

                    </tr>
                </thead>

        </div>

    </div>
    <div class="date" style="margin-left: 200%; margin-top: 200px;">
        <div>
            <input type="date" id="birthday" name="birthday" style="">
            <label for="birthday">زمان شروع</label>
        </div>
        <div style="margin-left: 500px;">
            <input type="date" id="birthday" name="birthday">
            <label for="birthday">مدت خاتمه</label>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn3 btn-danger">انصراف </button>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>