<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <link rel="styleSheet" href="css/Succor.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Succor</title>
</head>

<body>

    <div class="center ">
        <div style="margin-top: 100px; width: 500px;">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">نیازمند </th>
                        <th scope="col">مبلغ</th>

                    </tr>
                </thead>
            </table>
        </div>
        <div style="margin-top: 140px; margin-left: 15%;">
            <button type="button" class="btn b1 btn-danger">حذف</button>
            <button type="button" class="btn b1 btn-warning">ویرایش </button>
            <button type="button" class="btn b1 btn-success">جدید</button>
        </div>
        <span class="ss rounded-lg">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">1نیازمند </th>

                    </tr>
                    <tr>
                        <th scope="col">2نیازمند </th>

                    </tr>
                </thead>
            </table>

        </span>

        <div class="r1 row">
            <label>ریال</label>

            <div class="col-xs-6 col-sm-6 col-md-3" style="margin-right: 70px;">
                <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm"
                        placeholder="حداقل مبلغ مورد نیاز ">
                </div>
            </div>
            <label>ریال</label>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm"
                        placeholder="مبلغ مورد نیاز ">
                </div>


            </div>

        </div>
        <div class="r1 form-outline" style="width: 800px;">
            <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="توضیحات "></textarea>

        </div>
        <div class="btn1">
            <button type="button" class="btn  btn-warning">انصراف </button>
            <button type="button" class="btn  btn-danger">ذخیره</button>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>