table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    border-style: solid;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .sizeTable {
    width: 600px;
    height: 500px;
    margin-left: 40%;
    margin-top: 10%;
  }
  button {
    width: 100px;
    height: 40px;
    margin-left: 90px;
    border-radius: 5px;
    background-color: chartreuse;
  }
  .border1 {
    margin: 50px;
    margin-left: -180px;
    width: 1000px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .border1 div {
    margin-top: 20px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .b1 {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 250px;
    height: 30px;
    font-size: 22px;
  }
  label {
    font-size: 22px;
  }
  select {
    width: 100px;
    height: 30px;
    font-size: 30px;
  }
  .basebord {
    padding-right: 10px;
  }
  .basebord label {
    padding-right: 30px;
    margin-right: 90px;
  }
  .basebord input {
    margin-top: 40px;
  }
  