.edit {
  display: flex;
  flex-direction:  row;
}
.show {
  width: 1000px;
  margin-left: 45%;
  margin-top: 20%;
}
.tb1 {
  margin-top: -10%;
  margin-left: 25%;
  width: 300px;
}
.tb2 {
    margin-top: -10%;
    margin-left: 10%;
    width: 300px;
  }
.but1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
}
button {
  margin: 20px;
}
.date{
display: flex;
justify-content: center;
}
body{
    font-size: 20px;
}
.b1{
    font-size: 20px;
}
.btn3{
    margin-left: 150%;
    width: 200px;
    font-size: 20px;
}