<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="../img/polwino.png"/>
<meta http-equiv="refresh" >
<!--here you can also specify new url location-->
<meta http-equiv="refresh" >

  <title>baseinfo1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- style Sheet -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/grids.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <link rel="stylesheet" href="css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="css/jquery.mmenu.positioning.css" />
  <link rel="stylesheet" href="css/jquery.mmenu.rtl.css" />
  <link rel="stylesheet" href="css/fontawesome-all.css" />
  <link rel="stylesheet" href="css/fontello-embedded.css" />
  <link rel="stylesheet" href="css/linea.css" />
  <link rel="stylesheet" href="css/owl.carousel.css" />
  <link rel="stylesheet" href="css/owl.theme.default.css" />
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <link rel="stylesheet" href="css/lightbox.css" />
  <link rel="stylesheet" href="css/hover.css" />
  <link rel="stylesheet" href="css/timeline.min.css" />
  <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
  <!-- <link rel="stylesheet" href="css/jplayer.pink.flag.css"> -->
  <link rel="stylesheet" href="css/jplayer.blue.monday.css" />
  <link rel="stylesheet" href="css/jquery.maximage.css" />
  <link rel="stylesheet" href="css/cocoen.min.css" />
  <link rel="stylesheet" href="css/swiper.css" />
  <link rel="stylesheet" href="css/table.css" />
  <link rel="stylesheet" href="css/button.css" />
  <link rel="stylesheet" href="css/input.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/jquery.mmenu.all.js"></script>
  <script src="js/jquery.mmenu.rtl.js"></script>
  <script src="js/theia-sticky-sidebar.js"></script>
  <script src="js/ResizeSensor.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/jquery.elevatezoom.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/jQuery.countdownTimer.js"></script>
  <script src="js/jQuery.countdownTimer-fa.js"></script>
  <script src="js/jquery.jplayer.js"></script>
  <script src="js/lightbox.js"></script>
  <script src="js/jquery.counterup.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/timeline.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/shuffletext.jquery.js"></script>
  <script src="js/circle-progress.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/jquery.mousewheel.js"></script>
  <script src="js/packery-mode.pkgd.js"></script>
  <script src="js/jquery.mCustomScrollbar.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/jquery.cycle.all.js"></script>
  <script src="js/jquery.maximage.js"></script>
  <script src="js/cocoen.min.js"></script>
  <script src="js/cocoen-jquery.min.js"></script>
  <script src="js/jquery.zaccordion.js"></script>
  <script src="js/jquery.particleground.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/app2.js"></script>

</head>

<body>
  <div class="day-light">
    <div class="bar tran"></div>
    <div class="circ tran">
      <i class="far fa-sun"></i>
      <i class="far fa-moon"></i>
    </div>
  </div>
  <div class="portfolio-texts" style="height: 300px"></div>
  <div style="height: auto">
    <h1>baseinfo1</h1>

    <table id="baseinfo1" class="container">
      <thead>
        <tr>
          <th>
            <h1>عنوان</h1>
          </th>
          <th>
            <h1>شناسه</h1>
          </th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
  </div>
  <div>
    <div id="buttons">
      <a href="#myModal4" role="button" class="btn1  green btn-default" data-toggle="modal">مورد جدید</a>

      <!-- <a href="#" class="btn1 green" >مورد جدید</a> -->
      <a href="#myModal5" role="button" class="btn1 yellow" data-toggle="modal">ویرایش</a>
      <a href="#myModal6" role="button" class="btn1 red" data-toggle="modal">حذف</a>
    </div>

  </div>
  <div id="myModal4" class="modal " data-easein="flipBounceXIn" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal header</h4>
        </div>
        <div class="modal-body">
          <form>



            <div class="group">
              <input type="text" id="BaseTypeTitle" required>
              <span class="highlight"></span>
              <span class="bar1"></span>
              <label>عنوان</label>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button id="btnnew" onclick="btnnew()" class="btn1  green " aria-hidden="true">ذخیره</button>

          <button class="btn1  red" data-dismiss="modal" aria-hidden="true">بستن</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal5" class="modal" data-easein="flipBounceXIn" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal header</h4>
        </div>
        <div class="modal-body">
          <form>

            <div class="group">
              <input type="text"  id="BaseTypeTitle1"required>
              <span class="highlight"></span>
              <span class="bar1"></span>
              <label>عنوان</label>
            </div>

          </form>
        </div>
        <div class="modal-footer">

          <button id="btnedit"  onclick="btnedit()" class="btn1  green " aria-hidden="true">ذخیره</button>

          <button class="btn1  red" data-dismiss="modal" aria-hidden="true">بستن</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal6" class="modal" data-easein="flipBounceXIn" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal header</h4>
        </div>
        <div class="modal-body">
          <div>
          <h4>مطمئن هستید مورد نظر حذف شود؟ </h4>
        </div>
        </div>
        <div class="modal-footer">
          <button id="btndelete" onclick="btndelete()" class="btn1  green " aria-hidden="true">ذخیره</button>

          <button class="btn1  red" data-dismiss="modal" aria-hidden="true">بستن</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>