<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/needy2.css" />
    <title>Needy2</title>
</head>

<body>
    <div>
        <table id="msg_q" style="margin-top: 50px">
            <tr>
                <th>شماره حساب </th>
                <th>نام حساب </th>
                <th>نام بانک </th>
            </tr>
        </table>
    </div>
    <div class="main">
        <div class="right">
            <div>

                <input type="text">
                <label> شماره حساب</label>
            </div>
            <div>

                <input type="text">
                <label>نام صاحب حساب</label>
            </div> 
            <div>

                <input type="text">
                <label> نام حساب</label>
            </div>
        </div>
        <div class="left">
            <div>

                <input type="text">
                <label>  شماره کارت</label>
            </div>
            <div>
                <select style="width: 200px;">
              <option>ملت</option>
            </select>
            <label style="margin-right:130px;">نام بانک</label>
            
                
            </div>
            <div>
<input type="text">
                <label>شماره شبا</label>
   
            </div>
         <div>
                <label> شماره حساب</label>  
                    <input style="width: 200px;" type="text">
                    </div>
        </div>
    </div>
    <div class="btnShow">
         <button id="delete">حذف</button>
        <button id="edit">ویرایش</button>
        <button id="new">جدید</button>
       
    </div>

    <script src="js/needy2.js"></script>
</body>

</html>