table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
  border-style: solid;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btnShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
button {
  padding: 20px;
  margin: 20px;
  background-color: green;
  font-size: 18px;
  color: antiquewhite;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  margin: 50px;
  margin-top: -90px;
  height: 500px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -300px;
  margin-top: -590px;
  height: 500px;
}
.main {
  visibility: hidden;
  display: flex;
  flex-direction: row-reverse;
  /* justify-self: center; */
  margin-left: 400px;
  width: 1200px;
  margin-top: 200px;
  height: 700px;
  border-style: groove;

  /* width: 400px; */
}

input {
  margin: 25px;
  height: 20px;
}
select {
  height: 50px;
  font-size: 18px;
  padding: 11px;
}
