span {
  display: inline-block;
  width: 850px;
  height: 300px;
  margin: 6px;
  background-color: rgb(235, 226, 226);
}
.cl{
    display:flex ;
    flex-direction: column;
}
.center{
    margin-left: 40%;

}
body{
    font-size: 15px;
}
.b1{
    font-size: 20px;
}
.ss{
    display: inline-block;
    width: 800px;
    height: 300px;
    margin: 6px;
    background-color: rgb(75, 72, 72);
    margin-left: -130px;
    margin-top: 20px;
}
.r1{
    margin-left: -150px;
}
